<!DOCTYPE html>
<html>
  <head>
    <title>FileSharingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'  %>
    <br />
    <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  <script>
    $(".alert").fadeTo(1000, 250).slideUp(250, function(){
      $(".alert").slideUp(250);
    });
  </script>
  </body>
  
</html>
